<h2>Latest Orders</h2>
<table class="table table-hover table-dark table-sm">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Customer</th>
            <th>Amount</th>
            <th>Order Placed</th>
            <th>Order Fulfilled</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody *ngFor="let order of orders">
        <tr>
            <td>{{order.Id}}</td>
            <td>{{order.Customer.Name}}</td>
            <td>{{order.Amount}}</td>
            <td>{{order.Placed | date: 'short'}}</td>
            <td>{{order.Fulfilled | date: 'short'}}</td>
            <td>Status</td>
        </tr>
    </tbody>
</table>